
# common git ignore files for python
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
.Python
build/

# environment
env/
venv/
.env/

# checkpoints
ckps

download/edu_fineweb10B
download/tinystories
download/tinysk
runs

wandb

.DS_Store

ablations